<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>List of Streams</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
  <div class="row" style="margin: 30px 0;">
    <div class="col-lg-6">
      <h2>List of Streams</h2>
      <p class="text-muted">These streams are now being broadcasted. Please see it live on <p>rtmp://<%= serverAddress %>/live/<code>stream_name</code></p></p>
      <% if (streams.length > 0) { -%>
        <ol>
        <% for (var i=0, l=streams.length; i<l; i++) { -%>
          <li>
            <%= streams[i] %>
          </li>
        <% } -%>
        </ol>
      <% } -%>
      <p style="background: #ce4844; color: #fff; padding: 1em;">This is not working for now. ^^</p>
    </div>
    <div class="col-lg-6">
      <h2>List of Files</h2>
      <p class="text-muted">You can download the recorded video in the list below.</p>
      <% if (files.length > 0) { -%>
        <ol>
        <% for (var i=0, l=files.length; i<l; i++) { -%>
          <li>
            <a href="file/<%= files[i].filename %>"><%= files[i].name %></a>
          </li>
        <% } -%>
        </ol>
      <% } -%>
    </div>
    <div class="clearfix" style="margin: 30px 0;"></div>
    <div class="col-lg-8 col-lg-offset-2">
      <p class="text-danger">To broadcast from video file</p>
      <p class="text-muted">You will need to install ffmpeg on your machine first to broadcast your local video file.<br/>Note: Broadcasting your local file is just for test. It should be broadcasted from webcam or mobile device. This one is just dealing with the currently broadcasting stream.</p>
      <pre>brew install ffmpeg</pre>
      <p class="bg-primary" style="padding: 1em; border-radius: 0.5em; letter-spacing: 1px;">ffmpeg -re -i <code>input.mp4</code> -c copy -f flv rtmp://<%= serverAddress %>/live/<code>stream_name</code></p>
      <p class="text-danger">How to check ?</p>
      <p class="bg-primary" style="padding: 1em; border-radius: 0.5em; letter-spacing: 1px;">You can try <code>rtmp://<%= serverAddress %>/live/stream_name</code> on <code>VLC Media Player</code>, <code>JW Player</code>, <code>Flow Player</code>, ... (which are Flash Players)</p>
    </div>
  </div>
</div>
</body>
</html>
